* {
    font-family:"quicksand";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: black;
    background-color: azure;
}

header {
    position: relative;
}

#container {
    background-color: white;
    display: flex;
    height: 100vh;
    width: 70vw;
    border: 3px solid;
    box-shadow:0 15px 15px 5px rgb(80, 79, 79) ;
    
}

#notebookHoles {
    flex-basis: 15%;
    border-right: 3px solid rgb(255, 220, 226) ;
    height: 100%;
    
}

ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin-left: 28px;
}

li {
    font-size: 30px ;
}

#styling1 {
    margin-top: 20px;
}

#styling2 {
    margin-bottom: 20px;
 }

#form {
     flex-basis: 85%;
     height: 100vh;
     width: 100%;
     display: flex;
     flex-direction: column;
}

#formheader {
    flex-basis: 10%;
    border-bottom: 3px solid rgb(255, 220, 226);
    text-align: center;
}

h1 {
    font-size: 70px;
    margin-left: 20px;
}

h2 {
    flex-basis: 90%;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    height: 30%;
} 

#textareaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.textarea {
    margin:20px 2px;
    font-size: 15px;
    background-color: white;
}

#submitButton {
    font-size: 25px;
    width: 25%;
    align-self: center;
    background-color:rgb(255, 220, 226);
}
